*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
/*  font-family: 'Roboto', sans-serif;*/
  font-family: 'DM Serif Display', serif;

}

.cardHighlight {
  min-height: 100%;
}


/*NavBar*/

.navBar {
/*  background-color: #D864A9 !important;*/
background-image: url("./images/bgnav.jpg");
font-size: 1.1rem;

}


/*Home Banner*/
.homeBanner {
  background: 

    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url("./images/bannerbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

  width: 100%;
  height: 100vh;
  color: white;
  margin-top: 2rem;

}

.title-banner{
  font-size: 4rem;
  color: #EBB02D;
/*  font-size: 50px;*/
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.subtitle-banner {
  font-size: 1.8rem;
  font-style: italic;
  color: white;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;

}

.btn-banner {
  background-color: #D864A9 !important;
  border-color: white !important;
}

/*Home Featured Pets*/
.feat-pets {
  border-top: 5px solid black;
}


.card-height{
  background: 

    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url("./images/bghome.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.btn-feat {
  background-color: #EBB02D !important;
  border-color: black !important;
}

.crd-title {
  font-size: 3rem !important;
}

.crd-subtitle {
  font-size: 1.3rem !important;
}

.img-crd {
  border: solid;
}


/*Pet View*/

.bg-petview {
  background: 

    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url("./images/bg2.jpg");


}

.btn-visit{
  background-color: #7AA874 !important;
  border-color: black !important;
}

.view-name{
  font-size: 2rem !important;
}

.card-pet{
  border: 20px solid white !important;
}

.bg-petview h1 {
  font-size: 5rem;
}


/*Check out page*/
.btn-buy {
  background-color: #EBB02D !important;
  border-color: black !important;
}

.font1 {font-size: 3rem !important}
.font2 {font-size: 1.5rem !important}
.font3 {font-size: 1.3rem !important}
.font4 {font-size: 1.5rem !important}
.font5 {font-size: 1.3rem !important}

.buy-card{
  border: 3px solid black !important
}





















/*Footer*/


.footer{
  font-family: 'Roboto', sans-serif !important;
/*  position: relative;*/
  left: 0;
/*  bottom: 0;*/
  width: 100%;
  height: 10rem;
  background-color: red;
  color: white;
  text-align: center;
  
  bottom: 10px;
  background-image: url("./images/bgnav.jpg");
}

/*.img-footer {
  width: 100%;
  height: 10px;
  object-fit: cover;
  object-position: bottom;
}*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');



